In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp
import seaborn as sb
import ast
from nltk import stem 
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
bdata = pd.read_csv('books_data.csv')

In [6]:
bdata.head()

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN

In [7]:
bdata.isnull().sum()

Title                 1
description       68442
authors           31413
image             52075
previewLink       23836
publisher         75886
publishedDate     25305
infoLink          23836
categories        41199
ratingsCount     162652
dtype: int64

In [8]:
bdata = bdata[['Title','authors','description','publisher','publishedDate','categories']]

In [9]:
bdata.head()

,Title,authors,description,publisher,publishedDate,categories
0,Its Only Art If Its Well Hung!,['Julie Strain'],NaN,NaN,1996,['Comics & Graphic Novels']
1,Dr. Seuss: American Icon,['Philip Nel'],Philip Nel takes a fascinating look into the k...,A&C Black,2005-01-01,['Biography & Autobiography']
2,Wonderful Worship in Smaller Churches,['David R. Ray'],This resource includes twelve principles in un...,NaN,2000,['Religion']
3,Whispers of the Wicked Saints,['Veronica Haddon'],Julia Thomas finds her life spinning out of co...,iUniverse,2005-02,['Fiction']
4,"Nation Dance: Religion, Identity and Cultural ...",['Edward Long'],NaN,NaN,2003-03-01,NaN

In [10]:
bdata.isnull().sum()

Title                1
authors          31413
description      68442
publisher        75886
publishedDate    25305
categories       41199
dtype: int64

In [11]:
bdata.dropna(inplace=True)

In [12]:
bdata.head()

,Title,authors,description,publisher,publishedDate,categories
1,Dr. Seuss: American Icon,['Philip Nel'],Philip Nel takes a fascinating look into the k...,A&C Black,2005-01-01,['Biography & Autobiography']
3,Whispers of the Wicked Saints,['Veronica Haddon'],Julia Thomas finds her life spinning out of co...,iUniverse,2005-02,['Fiction']
5,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],In The Church of Christ: A Biblical Ecclesiolo...,Wm. B. Eerdmans Publishing,1996,['Religion']
8,Saint Hyacinth of Poland,['Mary Fabyan Windeatt'],The story for children 10 and up of St. Hyacin...,Tan Books & Pub,2009-01-01,['Biography & Autobiography']
9,Rising Sons and Daughters: Life Among Japan's ...,['Steven Wardell'],Wardell recalls his experience as a foreign st...,Plympton PressIntl,1995,['Social Science']

In [13]:
bdata['publishedDate']=bdata['publishedDate'].apply(lambda x:x.split('-'))

In [14]:
def year(date):
    data = []
    data.append(date[0])
    return data

In [15]:
bdata['publishedYear']=bdata['publishedDate'].apply(year)

In [16]:
bdata = bdata[['Title','authors','description','publisher','publishedYear','categories']]

In [17]:
bdata.head()

,Title,authors,description,publisher,publishedYear,categories
1,Dr. Seuss: American Icon,['Philip Nel'],Philip Nel takes a fascinating look into the k...,A&C Black,[2005],['Biography & Autobiography']
3,Whispers of the Wicked Saints,['Veronica Haddon'],Julia Thomas finds her life spinning out of co...,iUniverse,[2005],['Fiction']
5,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],In The Church of Christ: A Biblical Ecclesiolo...,Wm. B. Eerdmans Publishing,[1996],['Religion']
8,Saint Hyacinth of Poland,['Mary Fabyan Windeatt'],The story for children 10 and up of St. Hyacin...,Tan Books & Pub,[2009],['Biography & Autobiography']
9,Rising Sons and Daughters: Life Among Japan's ...,['Steven Wardell'],Wardell recalls his experience as a foreign st...,Plympton PressIntl,[1995],['Social Science']

In [18]:
bdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120867 entries, 1 to 212402
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          120867 non-null  object
 1   authors        120867 non-null  object
 2   description    120867 non-null  object
 3   publisher      120867 non-null  object
 4   publishedYear  120867 non-null  object
 5   categories     120867 non-null  object
dtypes: object(6)
memory usage: 6.5+ MB

In [19]:
bdata['description']=bdata['description'].apply(lambda x:x.split())

In [20]:
bdata.head()

,Title,authors,description,publisher,publishedYear,categories
1,Dr. Seuss: American Icon,['Philip Nel'],"[Philip, Nel, takes, a, fascinating, look, int...",A&C Black,[2005],['Biography & Autobiography']
3,Whispers of the Wicked Saints,['Veronica Haddon'],"[Julia, Thomas, finds, her, life, spinning, ou...",iUniverse,[2005],['Fiction']
5,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],"[In, The, Church, of, Christ:, A, Biblical, Ec...",Wm. B. Eerdmans Publishing,[1996],['Religion']
8,Saint Hyacinth of Poland,['Mary Fabyan Windeatt'],"[The, story, for, children, 10, and, up, of, S...",Tan Books & Pub,[2009],['Biography & Autobiography']
9,Rising Sons and Daughters: Life Among Japan's ...,['Steven Wardell'],"[Wardell, recalls, his, experience, as, a, for...",Plympton PressIntl,[1995],['Social Science']

In [21]:
bdata['publisher']=bdata['publisher'].apply(lambda x:x.replace(" ",""))
bdata['authors']=bdata['authors'].apply(lambda x:x.replace(" ",""))

In [22]:
bdata.head()

,Title,authors,description,publisher,publishedYear,categories
1,Dr. Seuss: American Icon,['PhilipNel'],"[Philip, Nel, takes, a, fascinating, look, int...",A&CBlack,[2005],['Biography & Autobiography']
3,Whispers of the Wicked Saints,['VeronicaHaddon'],"[Julia, Thomas, finds, her, life, spinning, ou...",iUniverse,[2005],['Fiction']
5,The Church of Christ: A Biblical Ecclesiology ...,['EverettFerguson'],"[In, The, Church, of, Christ:, A, Biblical, Ec...",Wm.B.EerdmansPublishing,[1996],['Religion']
8,Saint Hyacinth of Poland,['MaryFabyanWindeatt'],"[The, story, for, children, 10, and, up, of, S...",TanBooks&Pub,[2009],['Biography & Autobiography']
9,Rising Sons and Daughters: Life Among Japan's ...,['StevenWardell'],"[Wardell, recalls, his, experience, as, a, for...",PlymptonPressIntl,[1995],['Social Science']

In [23]:
bdata['categories'].apply(lambda x:x.replace('&',''))

1         ['Biography  Autobiography']
3                          ['Fiction']
5                         ['Religion']
8         ['Biography  Autobiography']
9                   ['Social Science']
                      ...
212392                    ['Adultery']
212394                     ['Fiction']
212398                   ['Computers']
212399            ['Juvenile Fiction']
212402                     ['Fiction']
Name: categories, Length: 120867, dtype: object

In [24]:
bdata['categories']=bdata['categories'].apply(lambda x:x.replace('&',','))

In [25]:
bdata['categories']

1         ['Biography , Autobiography']
3                           ['Fiction']
5                          ['Religion']
8         ['Biography , Autobiography']
9                    ['Social Science']
                      ...
212392                     ['Adultery']
212394                      ['Fiction']
212398                    ['Computers']
212399             ['Juvenile Fiction']
212402                      ['Fiction']
Name: categories, Length: 120867, dtype: object

In [26]:
bdata.head()

,Title,authors,description,publisher,publishedYear,categories
1,Dr. Seuss: American Icon,['PhilipNel'],"[Philip, Nel, takes, a, fascinating, look, int...",A&CBlack,[2005],"['Biography , Autobiography']"
3,Whispers of the Wicked Saints,['VeronicaHaddon'],"[Julia, Thomas, finds, her, life, spinning, ou...",iUniverse,[2005],['Fiction']
5,The Church of Christ: A Biblical Ecclesiology ...,['EverettFerguson'],"[In, The, Church, of, Christ:, A, Biblical, Ec...",Wm.B.EerdmansPublishing,[1996],['Religion']
8,Saint Hyacinth of Poland,['MaryFabyanWindeatt'],"[The, story, for, children, 10, and, up, of, S...",TanBooks&Pub,[2009],"['Biography , Autobiography']"
9,Rising Sons and Daughters: Life Among Japan's ...,['StevenWardell'],"[Wardell, recalls, his, experience, as, a, for...",PlymptonPressIntl,[1995],['Social Science']

In [27]:
bdata['publisher']=bdata['publisher'].apply(lambda x:x.split(","))

In [28]:
bdata.head()

,Title,authors,description,publisher,publishedYear,categories
1,Dr. Seuss: American Icon,['PhilipNel'],"[Philip, Nel, takes, a, fascinating, look, int...",[A&CBlack],[2005],"['Biography , Autobiography']"
3,Whispers of the Wicked Saints,['VeronicaHaddon'],"[Julia, Thomas, finds, her, life, spinning, ou...",[iUniverse],[2005],['Fiction']
5,The Church of Christ: A Biblical Ecclesiology ...,['EverettFerguson'],"[In, The, Church, of, Christ:, A, Biblical, Ec...",[Wm.B.EerdmansPublishing],[1996],['Religion']
8,Saint Hyacinth of Poland,['MaryFabyanWindeatt'],"[The, story, for, children, 10, and, up, of, S...",[TanBooks&Pub],[2009],"['Biography , Autobiography']"
9,Rising Sons and Daughters: Life Among Japan's ...,['StevenWardell'],"[Wardell, recalls, his, experience, as, a, for...",[PlymptonPressIntl],[1995],['Social Science']

In [29]:
bdata['authors'].apply(lambda x:x.split(','))

1                           [['PhilipNel']]
3                      [['VeronicaHaddon']]
5                     [['EverettFerguson']]
8                  [['MaryFabyanWindeatt']]
9                       [['StevenWardell']]
                        ...
212392                     [['KateChopin']]
212394                    [['JennyOffill']]
212398    [['DanielBanach', 'TravisJones']]
212399                 [['ElviraWoodruff']]
212402                     [['ZadieSmith']]
Name: authors, Length: 120867, dtype: object

In [30]:
def strtolist(word):
    L = []
    for i in word:
        if i == '[' or i == ']' or i == "'":
            L = L
        else:
            L.append(i)
    return L

In [31]:
bdata['authors']=bdata['authors'].apply(strtolist)

In [32]:
bdata['authors']=bdata['authors'].apply(lambda x:"".join(x))

In [33]:
bdata.head()

,Title,authors,description,publisher,publishedYear,categories
1,Dr. Seuss: American Icon,PhilipNel,"[Philip, Nel, takes, a, fascinating, look, int...",[A&CBlack],[2005],"['Biography , Autobiography']"
3,Whispers of the Wicked Saints,VeronicaHaddon,"[Julia, Thomas, finds, her, life, spinning, ou...",[iUniverse],[2005],['Fiction']
5,The Church of Christ: A Biblical Ecclesiology ...,EverettFerguson,"[In, The, Church, of, Christ:, A, Biblical, Ec...",[Wm.B.EerdmansPublishing],[1996],['Religion']
8,Saint Hyacinth of Poland,MaryFabyanWindeatt,"[The, story, for, children, 10, and, up, of, S...",[TanBooks&Pub],[2009],"['Biography , Autobiography']"
9,Rising Sons and Daughters: Life Among Japan's ...,StevenWardell,"[Wardell, recalls, his, experience, as, a, for...",[PlymptonPressIntl],[1995],['Social Science']

In [34]:
bdata['authors']=bdata['authors'].apply(lambda x:x.split(","))

In [35]:
bdata.head()

,Title,authors,description,publisher,publishedYear,categories
1,Dr. Seuss: American Icon,[PhilipNel],"[Philip, Nel, takes, a, fascinating, look, int...",[A&CBlack],[2005],"['Biography , Autobiography']"
3,Whispers of the Wicked Saints,[VeronicaHaddon],"[Julia, Thomas, finds, her, life, spinning, ou...",[iUniverse],[2005],['Fiction']
5,The Church of Christ: A Biblical Ecclesiology ...,[EverettFerguson],"[In, The, Church, of, Christ:, A, Biblical, Ec...",[Wm.B.EerdmansPublishing],[1996],['Religion']
8,Saint Hyacinth of Poland,[MaryFabyanWindeatt],"[The, story, for, children, 10, and, up, of, S...",[TanBooks&Pub],[2009],"['Biography , Autobiography']"
9,Rising Sons and Daughters: Life Among Japan's ...,[StevenWardell],"[Wardell, recalls, his, experience, as, a, for...",[PlymptonPressIntl],[1995],['Social Science']

In [43]:
bdata['categories']=bdata['categories'].apply(strtolist)

In [44]:
bdata['cateories']=bdata['categories'].apply(lambda x:"".join(x))

In [48]:
bdata['categories']=bdata['categories'].apply(lambda x:"".join(x))
bdata['categories']=bdata['categories'].apply(lambda x:x.split(','))

In [49]:
bdata.head()

,Title,authors,description,publisher,publishedYear,categories,cateories
1,Dr. Seuss: American Icon,[PhilipNel],"[Philip, Nel, takes, a, fascinating, look, int...",[A&CBlack],[2005],"[Biography , Autobiography]","Biography , Autobiography"
3,Whispers of the Wicked Saints,[VeronicaHaddon],"[Julia, Thomas, finds, her, life, spinning, ou...",[iUniverse],[2005],[Fiction],Fiction
5,The Church of Christ: A Biblical Ecclesiology ...,[EverettFerguson],"[In, The, Church, of, Christ:, A, Biblical, Ec...",[Wm.B.EerdmansPublishing],[1996],[Religion],Religion
8,Saint Hyacinth of Poland,[MaryFabyanWindeatt],"[The, story, for, children, 10, and, up, of, S...",[TanBooks&Pub],[2009],"[Biography , Autobiography]","Biography , Autobiography"
9,Rising Sons and Daughters: Life Among Japan's ...,[StevenWardell],"[Wardell, recalls, his, experience, as, a, for...",[PlymptonPressIntl],[1995],[Social Science],Social Science

In [50]:
bdata['tags'] = bdata['description'] + bdata['categories'] + bdata['authors'] + bdata['publisher']

In [51]:
bdata = bdata[['Title','publishedYear','tags']]

In [52]:
bdata.head()

,Title,publishedYear,tags
1,Dr. Seuss: American Icon,[2005],"[Philip, Nel, takes, a, fascinating, look, int..."
3,Whispers of the Wicked Saints,[2005],"[Julia, Thomas, finds, her, life, spinning, ou..."
5,The Church of Christ: A Biblical Ecclesiology ...,[1996],"[In, The, Church, of, Christ:, A, Biblical, Ec..."
8,Saint Hyacinth of Poland,[2009],"[The, story, for, children, 10, and, up, of, S..."
9,Rising Sons and Daughters: Life Among Japan's ...,[1995],"[Wardell, recalls, his, experience, as, a, for..."

In [53]:
cv = CountVectorizer(max_features = 10, stop_words='english')

In [54]:
stemmer = stem.PorterStemmer()

In [55]:
def stemming(word):
    y = []
    for i in word.split():
        y.append(stemmer.stem(i))
    return " ".join(y)

In [56]:
bdata['tags']=bdata['tags'].apply(lambda x:" ".join(x))

In [57]:
bdata.head()

,Title,publishedYear,tags
1,Dr. Seuss: American Icon,[2005],Philip Nel takes a fascinating look into the k...
3,Whispers of the Wicked Saints,[2005],Julia Thomas finds her life spinning out of co...
5,The Church of Christ: A Biblical Ecclesiology ...,[1996],In The Church of Christ: A Biblical Ecclesiolo...
8,Saint Hyacinth of Poland,[2009],The story for children 10 and up of St. Hyacin...
9,Rising Sons and Daughters: Life Among Japan's ...,[1995],Wardell recalls his experience as a foreign st...

In [58]:
bdata['tags']=bdata['tags'].apply(lambda x:x.lower())

In [59]:
bdata.head()

,Title,publishedYear,tags
1,Dr. Seuss: American Icon,[2005],philip nel takes a fascinating look into the k...
3,Whispers of the Wicked Saints,[2005],julia thomas finds her life spinning out of co...
5,The Church of Christ: A Biblical Ecclesiology ...,[1996],in the church of christ: a biblical ecclesiolo...
8,Saint Hyacinth of Poland,[2009],the story for children 10 and up of st. hyacin...
9,Rising Sons and Daughters: Life Among Japan's ...,[1995],wardell recalls his experience as a foreign st...

In [60]:
bdata['tags']=bdata['tags'].apply(stemming)

In [61]:
bdata.head()

,Title,publishedYear,tags
1,Dr. Seuss: American Icon,[2005],philip nel take a fascin look into the key asp...
3,Whispers of the Wicked Saints,[2005],julia thoma find her life spin out of control ...
5,The Church of Christ: A Biblical Ecclesiology ...,[1996],in the church of christ: a biblic ecclesiolog ...
8,Saint Hyacinth of Poland,[2009],the stori for children 10 and up of st. hyacin...
9,Rising Sons and Daughters: Life Among Japan's ...,[1995],wardel recal hi experi as a foreign student in...

In [62]:
va = cv.fit_transform(bdata['tags']).toarray()

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

In [64]:
va

array([[0, 0, 2, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [1, 0, 0, ..., 2, 0, 2],
       [0, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [67]:
sm = cosine_similarity(va, dense_output=False)

MemoryError: Unable to allocate 109. GiB for an array with shape (120867, 120867) and data type float64